.root {
    -fx-background-color: #f4f4f4;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.table-view {
    -fx-base: #f4f4f4;
    -fx-control-inner-background: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: #333333;
    -fx-alignment: CENTER;
}

.combo-box {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.combo-box .list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
}

.combo-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 5px;
}

.combo-box .list-cell:hover {
    -fx-background-color: #e0e0e0;
}


.combo-box .arrow-button {
    -fx-background-color: #ffffff;
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
}

.combo-box .arrow-button:hover {
    -fx-background-color: #6aa86d;dd
}